<html>
<head>
<title>[=[title]=]</title>
<meta charset="UTF-8">
<meta http-equiv="cache-control" content="no-cache">
<link rel="shortcut icon" href="[=[staticRoot]=]/img/favicon.ico">
<link rel="stylesheet" type="text/css" href="[=[staticRoot]=]/css/styles.css">
<style>
	@media print {
		/* dont print input placeholders */
		input::placeholder {
			visibility: hidden;
		}
	}
</style>
<script type='text/javascript' src='[=[staticRoot]=]/js/knockout-3.4.0.js'></script>
<script type='text/javascript' src='[=[staticRoot]=]/js/opentaxforms.js'></script>
<script type='text/javascript' src='[=[staticRoot]=]/js/basil.js'></script>
</head>
<body>
<img class="tff annotatable" src='[=[staticRoot]=]/svg/[=[bkgdimgfname]=]' style='top:0px;left:0px;width:1224px;height:1584px'>
<form class='tff'>
[=[pagelinks]=]
[=[pdflink]=]
[=[inputboxes]=]
[=[formlinks]=]
</form>
<a style='border:none;top:1584px;left:1px;width:1px;height:1px;'></a>
</body>
<script type='text/javascript'>
window.onload = function() {
	var url=new URL(window.location.href);
	// add search params to all links in page
	var anchors = document.getElementsByTagName('a');
	for (var i = 0; i < anchors.length; i++) {
		anchors[i].href += url.search;
	}
	var year=url.searchParams.get("year") || '[=[year]=]';
	var filer=url.searchParams.get("filer");
	var namespace='opentaxforms_'+year;
	var db=new window.Basil({namespace:namespace,storage:'local'});
	var dbform=[filer,'[=[formid]=]'].filter(Boolean).join('/');
	console.log('year='+year+'; filer='+filer+';');
	console.log('namespace='+namespace+'; dbform='+dbform+';');
	var vals=db.get(dbform)||{};
	var rz='[=[readonlyz]=]'.split(' ');
	var nz='[=[nonobsvblz]=]'.split(' ');
	var oz='[=[obsvblz]=]'.split(' ');
	var cz='[=[computedz]=]'.split(' ');
	function inputs() {
		var o=opentaxforms,
			koo=o.koo,
			koc=o.koc,
			zz=o.zz,
			dd=o.dd,
			cc=o.cc,
			nn=o.nn,
			pp=o.pp,
			ll=o.ll,
			s={};
		for (var i=0;i<rz.length;i++) {
			o.setval(vals[rz[i]],rz[i]);
		}
		for (var i=0;i<nz.length;i++) {
			o.setval(vals[nz[i]],nz[i]);
		}
		for (var i=0;i<oz.length;i++) {
			s[oz[i]]=o.ld(vals[oz[i]],koo,'');
		}
		[=[inputdeps]=]
		return s;
	}
	data=inputs();
	ko.applyBindings(data);
};

document.onkeydown = function(evt) { evt = evt || window.event;
    switch (evt.keyCode) {
        case 37:
            el=document.getElementById('prevpagelink');if(el)el.click();break;
        case 39:
            el=document.getElementById('nextpagelink');if(el)el.click();break;
    }
};
window.onbeforeunload=function(e) {
	for (var i=0;i<oz.length;i++) {
		if (rz.indexOf(oz[i])==-1) {
			vals[oz[i]]=opentaxforms.getval(oz[i]);
		}
	}
	for (var i=0;i<nz.length;i++) {
		vals[nz[i]]=opentaxforms.getval(nz[i]);
	}
	for (var i=0;i<cz.length;i++) {
		vals[cz[i]]=opentaxforms.getval(cz[i]);
	}
	db.set(dbform,vals);
	//var msg = "Yo.", e = e || window.event; if (e) { e.returnValue = msg; } return msg;
};
</script>
</html>
